.logo img{
    animation-fill-mode: both;
    animation-name: slide-in;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.mario{
    border-color: #383838;
    animation-name: slide;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in {
    0%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateY(0);
        transform: scale(1);
    }
    100%{
        transform: translateY(0);
        transform: scale(0)
    }
}

@keyframes slide {
    0%{
        width: 600px;
    }
    100%{
        width: 0px;
    }
}


