body{
    width: 90%;
    max-width: 800px;
    margin: auto;
    background: url(media/bg.png);
    background-size: cover;
    margin-top: 30px;
    border-radius: 10px;

    font-family: sans-serif;
    line-height: 1.5;
}
main{
    border-radius: 10px;
    background: #00000034;
    padding: 15px 40px;
}
hr{
    border-color: black;
}
.logo img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
#title, .subtitle, .logo{
    margin: 0;
    text-align: center;
}
.games{
    margin: 30px 0;
    text-align: center;
    width: 100%;
}
.games table{
    background: rgba(128, 128, 128, 0.35);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}