body{
    width: 80vw;
    height: 600px;
    background: linear-gradient(to right, rgba(110, 40, 255, 0.87), rgba(255, 150, 255, 0.8));
    background-color: pink;
    max-width: 800px;
    margin: 25px auto;
    color: #202020;
}
main{
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px 40px;
}
.logo img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
#title, .subtitle, .logo{
    margin: 0;
    text-align: center;
}
.games{
    margin: 30px 0;
    width: 90%;
}
.games h2{
    text-align: center;
}
.games table{
    width: 50%;
    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}
