/* ELEMENTS */

html{
    margin: 0; padding: 0;
    overflow: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

body{
    color: rgb(221, 221, 221);
    background-color: #303030;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* CLASS */

.back-image{
    margin: 0; padding: 0;
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1.2) saturate(1.5) brightness(.7);
}
.hline{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 70vw;
    height: 1px;
    background: white;
}
.linhavertical{
    height: 40px;
    border-left: 1px solid;
    padding-right: 10px;
}
.header-site{
    width: 100vw;
    height: 100vh;
    margin: 0; padding: 0;
    background: url(../media/bg-min.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: #fff;
    margin-top: -2vh;
    padding-top: 29vh;
    padding-bottom: 29vh;
    align-content: center;
    transform: scale(1.1);
}
.header-site h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 6.4vw;
    letter-spacing: 10px;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.8);
}
.header-site p{
    font-family: 'Dosis', sans-serif;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.8);
}
.header-site .hline{
    width: 10vw;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.8);
}
.header-site .row{
    transform: scale(.8);
    margin: auto;
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: -5px 0px 4px rgba(0, 0, 0, 0.1), 5px 0px 4px rgba(0, 0, 0, 0.1), 0px 5px 4px rgba(0, 0, 0, 0.1), 0px -5px 4px rgba(0, 0, 0, 0.1);
}
.header-site a{
    margin-top: 50px;
}

.navbar-site{
    color: white;
    width: 100vw;
    background: linear-gradient(180deg, rgba(13, 0, 27, .8) 0, rgba(0,0,0,0) 80%);
}
.navbar-site img{
    margin: 0; padding: 0; 
    width: 40px; height: 40px;
}
.navbar-site ul{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style-type: none;
    width: 100vw;
}
.navbar-site li{
    color: white;
    float: left;
    margin: 5px;
    display: block;
    font-size: 14px;
}
.center{
    color: #ffffff;
    padding-right: 20px;
    position: relative;
    transform: translateY(50%);
}
.center a{
    color: #ffffff;
    text-decoration: none;
}
.center a:hover, .center a:visited{
    color: rgb(223, 155, 255);
}
.butn span{
    margin: 0;
    transition: 1s;
    margin-top: 65px;
    animation-name: buttonidle;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.butn, .butn:hover, .butn:visited, .butn:active{
    color: rgb(255, 255, 255);
}

.site-content{
    margin-top: 20px;
    text-align: justify;
}
.site-content p{
    font-size: 1.1em;
    margin: 10px;
    margin-bottom: 25px;
}

.site-content img{
    margin: 10px;
    margin-top: 25px;
    margin-right: 50px;
    width: auto;
    height: 550px;
    float: left; 
}

.footer-site{
    margin: 0; padding: 0;
    color: black;
    font-size: 9px;
    width: 100vw;
    height: 2vh;
    background-color: #cccccc;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
}
.footer-site p{
    text-align: center;
    padding: 0; margin: 0;
    padding-top: 1px;
}

/* IDS */

#content-image1{
    background-image: url(../media/kiminonawa.png);
}

/* KEYFRAMES */

@keyframes buttonidle{
    from{
        transform: translateY(-1px);
    }
    to{
        transform: translateY(5px);
    }
}